includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database/migrations

    level: 8

    checkModelProperties: true

    noEnvCallsOutsideOfConfig: false
